body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
*
  margin:0;
  padding:0;

#cursors
  position:relative;

 .cursor
  position:absolute;
  width:15px;
  height:22px;
  background:url('../images/pointer.png') no-repeat -4px 0;

canvas
  background: #ddd;

/*-------------------------
  Instrucciones
--------------------------*/

hgroup
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: 78px;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -225px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.1), 0 3px 1px #D4D4D4;
  color: #555;

h1
  font-size: 22px;
  padding-bottom: 8px;

h2
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 8px;

h3
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #999;

#connections
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
